@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-Thin.ttf') format('truetype');
	font-weight: 200;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-ThinItalic.ttf') format('truetype');
	font-weight: 200;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-Italic.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-Black.ttf') format('truetype');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('Lato/Lato-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-display: swap;
	font-style: italic;
}
